/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/toolbars_below_content.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Moves tabs toolbar, bookmarks toolbar and main toolbar to the bottom of the window, and makes tabs be the bottom-most toolbar */

/* By default, menubar will stay on top with two options to select it's behavior - see below */

@-moz-document url(chrome://browser/content/browser.xhtml)
{
  #titlebar {
    -moz-appearance: none !important;
  }

  @media (-moz-os-version: windows-win10) {
    /* Next two variables are used by autohide_menubar.css */
    #toolbar-menubar {
      --uc-menubar-extra-margin: 0px;
    }
    :root[sizemode="maximized"] #toolbar-menubar {
      --uc-menubar-extra-margin: 8px;
    }

    :root[sizemode="maximized"][tabsintitlebar]
      :where(#browser, #customization-container, #toolbar-menubar) {
      margin-top: 8px;
    }
  }

  #mainPopupSet,
  #browser,
  #customization-container
  ,#nav-bar, #PersonalToolbar/* Remove this row if you want tabs to be the top-most row */ {
    -moz-box-ordinal-group: 0;
  }

  #toolbar-menubar {
    position: fixed;
    display: flex;
    width: 100vw;
    top: 0px;
  }

  #toolbar-menubar > spacer {
    flex-grow: 1;
  }


  #urlbar {
    font-size: 12pt !important;
    font-weight: 700;
  }

  #urlbar[breakout][breakout-extend] {
    display: flex !important;
    flex-direction: column-reverse;
    bottom: -2px !important; /* Change to 3-5 px if using compact_urlbar_megabar.css depending on toolbar density */
    top: auto !important;
  }

  .urlbarView-body-inner {
    border-top-style: none !important;
  }

  /* Yeah, removes window controls. Likely not wanted on bottom row  */
  #TabsToolbar > .titlebar-buttonbox-container {
    display: none;
  }
  #toolbar-menubar > .titlebar-buttonbox-container {
    order: 1000;
  }

  /* Fullscreen mode support */
  #navigator-toolbox[inFullscreen] {
    margin-top: 0 !important;
  }
  #navigator-toolbox[inFullscreen][style*="margin-top"] {
    visibility: collapse;
  }
  #fullscr-toggler {
    bottom: 0;
    top: unset !important;
  }

  /* These two rules exist for compatibility with autohide_toolbox.css */
  #navigator-toolbox {
    bottom: -1px;
    transform-origin: bottom;
  }

  #toolbar-menubar {
    /* z-index: 1; */
    /* background-color: var(--lwt-accent-color, black); */
    position: static;
    display: -moz-box;
    margin-top: 0px !important;
    background-color: transparent;
  }

  /* set to "reverse" (without quotes) if you want tabs above menubar with the above option */
  #titlebar {
    -moz-box-direction: normal;
  }
}

#tabbrowser-tabs {
  visibility: collapse;
}

/* Note that privacy.resistFingerprinting.letterboxing prevents this from working properly */

findbar{
    -moz-box-ordinal-group: 0;
    margin-bottom: -33px;
    position: relative;
    border-top: none !important;
    padding: 0 !important;
    transition: transform 82ms linear, opacity 82ms linear 32ms !important;
    background: none !important;
    pointer-events: none;
    z-index: 1;
}

.findbar-container > .findbar-find-fast{
    padding: var(--toolbarbutton-inner-padding) 1px;
    margin: 0 !important;
}

findbar[hidden]{ transform: translateY(-30px);}

findbar > .findbar-container,
findbar > .close-icon{
    border: 1px solid var(--chrome-content-separator-color);
    border-width: 0 0 1px 0px;
    background: var(--uc-light-bkgnd-color,var(--toolbar-bgcolor)) !important;
    pointer-events: auto;
}
findbar > .findbar-container{
    -moz-box-direction: reverse;
    border-left-width: 1px;
    border-bottom-left-radius: 4px;
}

.findbar-find-status{
    display: -moz-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-box-flex: 1;
}

.findbar-closebutton{
    margin: 0 !important;
    border-radius: 0 !important;
    padding: 5px !important;
}
.findbar-closebutton > image{ padding: 3px }
.findbar-closebutton:hover > image{
    background: var(--toolbarbutton-hover-background) !important;
    border-radius: 4px
}
findbar > .findbar-container > hbox{ margin: 0 5px }

findbar::before{
    content:"";
    display: -moz-box;
    -moz-box-flex: 100;
}

/* Move findbar so it isn't over the scrollbar
    Delete if you want findbar to begin from right window edge */
findbar{
    margin-right: 16px;
    border-right: 1px solid var(--chrome-content-separator-color);
}


/* Always hide status-panel when the page is in fullscreen mode such as fullscreen video player */
/* No effect on Firefox fullscreen mode (activated with F11 key) - except when the page is in fullscreen */

:root[inDOMFullscreen] #statuspanel{ display: none !important }
