[user]
	email = serg.zorg@gmail.com
	name = Neg
[core]
    pager = # do not use external pager
    whitespace = trailing-space,cr-at-eol
    excludesfile = /etc/gitignore
	editor = "nvr --remote-wait-silent"
[color]
    branch     = auto
    diff       = 1
    grep       = auto
    pager      = 0
    showbranch = auto
    status     = auto
    ui         = auto
[color "status"]
    added     = 2 bold
    branch    = 62
    changed   = 4 bold
    header    = 23
    nobranch  = 197
    untracked = 235
[color "branch"]
    current = 67
    local   = 18 bold
    remote  = 25
[color "diff"]
    old        = 1
    new        = 24
    plain      = 7
    meta       = 25
    frag       = 67
    func       = 68
    commit     = 4
    whitespace = 54
[man]
    viewer = nvimpager
[receive]
    denyCurrentBranch = ignore
[alias]
    wtf  = "!~/bin/git/git-wtf"
    undo = checkout --
[github]
	user = neg-serg
[push]
    default = simple
[diff]
    tool = nvr
[difftool "nvr"]
    cmd = nvr -s -d $LOCAL $REMOTE
[merge]
    tool = nvim
[mergetool "nvr"]
    cmd = nvr -s -d $LOCAL $BASE $REMOTE $MERGED -c 'wincmd J | wincmd ='
[credential]
    helper = cache --timeout=28800
[interactive]
	diffFilter = diff-highlight
[filter "lfs"]
	required = true
	clean    = git-lfs clean -- %f
	smudge   = git-lfs smudge -- %f
	process  = git-lfs filter-process
