[user]
	email = serg.zorg@gmail.com
	name = Neg
[core]
    pager =
    whitespace = trailing-space,cr-at-eol
    excludesfile = /etc/gitignore
	editor = "nvr --remote-wait-silent"
[color]
    branch     = auto
    diff       = 1
    grep       = auto
    pager      = 0
    showbranch = auto
    status     = auto
    ui         = auto
[color "status"]
    added     = 2 bold
    branch    = 100
    changed   = 4 bold
    header    = 23
    nobranch  = 197
    untracked = 240
[color "branch"]
    current = 23
    local   = 18 bold
    remote  = 17
[color "diff"]
    old        = 1
    new        = 23
    plain      = 7
    meta       = 18
    frag       = 67
    func       = 68
    commit     = 4
    whitespace = 54
[man]
    viewer = man
[receive]
    denyCurrentBranch = ignore
[alias]
    wtf  = "!~/bin/git/git-wtf"
    undo = checkout --
    l    = "log --graph --pretty=format:'%C(Yellow)%h %C(Cyan)%ad %C(White)%s%C(Green)%d %C(Blue)[%an]' --date=short"
    last = "log -7 --graph --pretty=format:'%C(Yellow)%h %C(Cyan)%ad %C(White)%s%C(Green)%d %C(Blue)[%an]' --date=short"
    d    = difftool
[github]
	user = neg-serg
[push]
    default = simple
[diff]
    tool = nvr
[difftool "nvr"]
    cmd = nvr -s -d $LOCAL $REMOTE
[merge]
    tool = nvim
[mergetool "nvr"]
    cmd = nvr -s -d $LOCAL $BASE $REMOTE $MERGED -c 'wincmd J | wincmd ='
[credential]
    helper = cache --timeout=28800
[interactive]
	diffFilter = diff-highlight
[filter "lfs"]
	required = true
	clean    = git-lfs clean -- %f
	smudge   = git-lfs smudge -- %f
	process  = git-lfs filter-process
