./1st_level
.adobe
.adom.*
.ammonite
.android
.aria2
.aspell*
.atom
.azureus
.bashbullet
.bash_history
beets/.config/beets/discogs_token.json
beets/.config/beets/state.pickle
.bundle
.cabal
.cache
cache.db
cache.db.lock
cache_nvim
cache_vim
.cargo
.ccache
cgdb/.cgdb/logs/
cgdb/.cgdb/readline_history.txt
.cgdb/readline_history.txt
chromium
.Clion*
.config/asciinema
.config/Atom/
.config/aurvote
.config/chromium
.config/composer/
.config/configstore/
.config/dconf
.config/deluge
.config/easytag
.config/easytag/browser_path.history
.config/easytag/easytagrc
.config/EgoSoft
.config/ensime-vim
.config/Epic
.config/fasd
.config/fish
.config/fonts/*
.config/gconf
.config/gimp-2.8/gimpswap*
.config/.gmail_pass.gpg
.config/gpick
.config/gtk-2.0/gtkfilechooser.ini
.config/imgur-screenshot
.config/inkscape
.config/kritadisplayrc
.config/kritarc
.config/libreoffice/
.config/libvirt
.config/mimeapps.list
.config/mpdas/
.config/mpdscribble/*
.config/MusicBrainz
.config/octave
.config/.pass.gpg
.config/pavucontrol.ini
.config/pulse/*
.config/ranger/bookmarks
.config/ranger/history
.config/Recoll.org
.config/scdl
.config/Skype/
.config/spotify/
.config/transmission-daemon/dht.dat
.config/Trolltech.conf
.config/Unreal Engine
.config/VirtualBox/
.config/vkopt
.config/vksetts*
.config/yandex-disk/iid
.config/yandex-disk/passwd
.config/youtube-viewer/youtube-viewer.conf
.config/z
.config/z107798146
.config/z151832623
.config/z884238480
.cortex
.cpan
.cpanm
.cr3
.crawl
.cxoffice
cycle_settings.pyc
.dbus
dev
doc
.drip
.drip_history
.dub
dw
.eclipse
.electron
.elvish/
.esd_auth
.fasd
.fbless_save
.FBReader/
.FontForge/
.fonts/*
.forecastrc
games
.gdrive
.gem
.ghc/ghci_history
.ghc/x86_64-linux-8.0.1/
.gimp-2.8
gimp-2.8
gimp-2.8/pluginrc
.git-credentials
gmail/client_secrets.json
.gnupg
.goobook*
.goobook_auth.json
.gpg-agent-info
.gradle
.gstreamer-0.10
gtk/.config/gtk-2.0/gtkfilechooser.ini
/home/neg/.config/gimp-2.8
/home/neg/.config/menus
/home/neg/.config/z
/home/neg/.gimp-2.8
/home/neg/.ideaconfig/config/options/statistics.application.usages.xml
.icons/LibreOffice Pack Icons-0.3.6
.idea-build
.ideaconfig/config/*.key
.ideaconfig/config/options/ClojureUsageStatisticsSettings.xml
.ideaconfig/config/options/ClojureUsageStatistics.xml
.ideaconfig/config/options/feature.usage.statistics.xml
.ideaconfig/config/options/proxy.settings.pwd
.ideaconfig/config/options/recentProjects.xml
.ideaconfig/config/plugins/*
.ideaconfig/config/plugins/clojure-plugin/classes/cursive/usageStatistics/ClojureUsageStatistics.class
.ideaconfig/config/plugins/clojure-plugin/classes/cursive/usageStatistics/ClojureUsageStatisticsConfigurable$1.class
.ideaconfig/config/plugins/clojure-plugin/classes/cursive/usageStatistics/ClojureUsageStatisticsConfigurable.class
.ideaconfig/config/plugins/clojure-plugin/classes/cursive/usageStatistics/ClojureUsageStatisticsSettings.class
.ideaconfig/config/tasks/*
.ideaconfig/options/statistics.application.usages.xml
.ideaconfig/system/*
.imgur_pass.gpg
imgur-screenshot/
.imgur-screenshot.log
.IntelliJIdea2016.1/config/*.key
.IntelliJIdea2016.1/config/tasks/*
.IntelliJIdea2016.1/system/*
.IntelliJIdea2016.2/config/*.key
.IntelliJIdea2016.2/config/plugins/*
.IntelliJIdea2016.2/config/tasks/*
.IntelliJIdea2016.2/system/*
.IntelliJIdea2017.1/config/options/stubIndex.xml
.IntelliJIdea2017.1/system/
.irb_history*
.ivy2
.java
.java_history
.kde
.kde4
.keychain
.lesshst
./.links
.lldb*
.local
.lyrics/
M
.m2
.macromedia
.Mathematica
.mime.types
misc/.slit/history
.mozilla
music
.mutt_certificates
.mutt/hcache/
mutt/.mutt/hcache/*
mutt/.mutt/mailboxes
.my-pwds.gpg
.newsbeuter/cache.db
.newsbeuter/error.log
.newsbeuter/history.cmdline
.newsbeuter/newsbeuter-notify
.nicotine
.nimble
.node-gyp
.node_repl_history
.notion/default-session--0/windowinfos.lua
.notmuch-config
.npm
ns_config.pyc
.nv
.nvidia-settings-rc
.octave_hist
.offlineimap
.offlineimap/*
.offlineimappass.gpg
.offlineimaprc.gpg
oni/.config/oni/Cache/
oni/.config/oni/Cookies
oni/.config/oni/Cookies-journal
oni/.config/oni/GPUCache/
oni/.config/oni/Local
oni/.config/oni/Local Storage/
oni/.config/oni/Preferences
oni/.config/oni/Settings
.ovftool.ssldb
password.gpg
.password-store
.pcsxr
.pdfedit
.pentadactyl/info/default*
pic
.pip
.pki
polybar/.config/polybar/gmail/client_secrets.json
.pry_history
.pulse-cookie
__pycache__
.PyCharm40
.python-eggs
.pythonhist
.python_history
qemu/qmp/qmp.pyc
.qt
.quarkcoin
radare2/history
.recently-used
.recoll
.rediscli_history
.renoise
repos
resurrect
.RubyMine*
.rustup/
.rvm
.sbcl_history
.sbt
.scala_history
.scalanative
.scdl.cfg
script_i3_general.pyc
singleton_mixin.pyc
.Skype
skypeforlinux
.spicec
.sqlite_history
src
.ssh
st
.stack
state_nvim.vim
state_vim.vim
.steam
.steampath
.steampid
.subversion/
surf
.surf
.swt
.task
.TelegramDesktop
.t-engine
.texlive
.texmf-var
.theano
.themes/AquaMoss Pack/Wallpapers/GrungeSplatterMoss.png
.themes/bang_slimtheme/background.png
.themes/bang_slimtheme/background.png_bck
.themes/Valium/valium-preview.png
.This War of Mine
.thumbnails
tmp
*.tmp
.tor-browser-en
torrent
vid
.vim/.compiler_info
vim/.config/nvim/.netrwhist
.viminfo
.vim/neobundlecache
.vim/.netrwhist
.vimperator/info/*
.vimperator/info/default/macros
./vimperator/.vimperator/info/
./vimperator/.vimperator/info/default
vimperator/.vimperator/info/default/
vimperator/.vimperator/info/default/history-command
vimperator/.vimperator/info/default/history-search
vimperator/.vimperator/info/default/ignored-keys
vimperator/.vimperator/info/default/local-marks
vimperator/.vimperator/info/default/macros
vimperator/.vimperator/info/default/quickmarks
.vim/tmp/*
.vim/undo
.vim/undo/%mnt%home%.wine%user.reg
.vimv_history
.vimviews/*
vim/.vim/cache_gvim
vim/.vim/cache_vimdiff
vim/.vim/.netrwhist
vim/.vim/sessions/
vim/.vim/state_gvim.vim
vim/.vim/state_vimdiff.vim
.vim/ycm_extra_conf.pyc
.vkquake
.vmware
.vvvvvv
.w3m/history
w3m/.w3m/history
watch_later
.WebStorm*
.weechat/logs/
.weechat/logs/core.weechat.weechatlog
weechat/.weechat/buflist.conf
weechat/.weechat/fifo.conf
.weechat/weechat.log
weechat/.weechat/logs/
weechat/.weechat/weechat.log
.wget-hsts
.wine
.wireshark
.Xauthority
.xsel.log
.xsession-errors
.xsession-errors.old
.yandex
.yankring_hist_v2.txt
.zcompcache/
.zex_history
.zhistory
.zsh/cache
.zsh_exnhist
.zsh_history
zsh_history
.zsh/.zcompdump
zsh/.zsh/.zcompdump
zsh/.zsh/zcomp-sanctum
*.zwc
mpd/.mpd/mpd.db
mpd/.mpd/mpd.pid
mpd/.mpd/mpdstate
doom-emacs/.doom.d/init.elc
oni/.config/oni/SS
oni/.config/oni/SingletonCookie
oni/.config/oni/SingletonLock
vim/.vim/plugged/
oni/.config/oni/tsconfig.json
mutt/.mutt/home.gmail/cache/
mutt/.mutt/home.gmail/hcache
mutt/.mutt/work.gmail/cache/
mutt/.mutt/work.gmail/hcache
mutt/.mutt/home.gmail/cache
mutt/.mutt/work.gmail/cache
.ccls-cache
.gdb_history
ghc/.ghc/ghci_history
nvim/.vim/plugged/
nvim/.vim/sessions/
nvim/.vim/.netrwhist
nvim/.vim/undo/
nvim/.config/nvim/nvim/plugged
nvim/.config/nvim/nvim/undo
nvim/.config/nvim/nvim/sessions
nvim/.config/nvim/nvim/.compiler_info
nvim/.config/nvim/nvim/.netrwhist
nvim/.config/nvim/nvim/.ycm_extra_conf.py
nvim/.config/nvim/nvim/.ycm_extra_conf_bear.py
nvim/.config/nvim/nvim/.ycm_extra_conf_qt.py
nvim/.config/nvim/undo
nvim/.config/nvim/plugged
nvim/.config/nvim/sessions
nvim/.config/nvim/session.vim
