[submodule "@spacemacs/.emacs.d"]
	path = @spacemacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs
	ignore = untracked
[submodule "@doom_emacs/.emacs.d"]
	path = @doom_emacs/.emacs.d
    url = https://github.com/hlissner/.emacs.d
	ignore = untracked
[submodule "@tmux/.tmux/tmux-yank"]
	path = @tmux/.tmux/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "@tmux/.tmux/tmux-fingers"]
	path = @tmux/.tmux/tmux-fingers
	url = https://github.com/Morantron/tmux-fingers
[submodule "@tmux/.tmux/tmux-resurrect"]
	path = @tmux/.tmux/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "@tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "@rogue_emacs"]
	path = @rogue_emacs
	url = https://github.com/lepisma/rogue
[submodule "i3/.config/i3"]
	path = i3/.config/i3
	url = https://github.com/neg-serg/negi3mods.git
[submodule "77d2d32ed01b7ffd073ac1b5620871d111f77a1a i3/.config/i3 (heads/master)"]
	url = git@github.com:neg-serg/negi3mods.git
[submodule "zsh/.config/zsh/powerlevel10k"]
	path = zsh/.config/zsh/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
