*.tmp
*.zwc
../../music/.config/pulse/cookie
../../music/.config/pulse/cookiegs
./1st_level
.Clion*
.FBReader/
.FontForge/
.Skype
.Xauthority
.adom.*
.ammonite
.android
.aria2
.aspell*
.atom
.azureus
.bash_history
.bashbullet
.cabal
.cache
.cargo
.ccache
.ccls-cache
.cgdb/readline_history.txt
.config/.gmail_pass.gpg
.config/EgoSoft
.config/Epic
.config/MusicBrainz
.config/Recoll.org
.config/Skype/
.config/Trolltech.conf
.config/asciinema
.config/aurvote
.config/chromium
.config/composer/
.config/configstore/
.config/dconf
.config/deluge
.config/easytag
.config/easytag/browser_path.history
.config/easytag/easytagrc
.config/fasd
.config/fish
.config/fonts/*
.config/gconf
.config/gpick
.config/gtk-2.0/gtkfilechooser.ini
.config/imgur-screenshot
.config/inkscape
.config/kritadisplayrc
.config/kritarc
.config/libreoffice/
.config/libvirt
.config/mimeapps.list
.config/mpdas/
.config/mpdscribble/*
.config/pavucontrol.ini
.config/pulse/*
.config/ranger/bookmarks
.config/ranger/history
.config/scdl
.config/spotify/
.config/transmission-daemon/dht.dat
.config/vkopt
.config/vksetts*
.config/yandex-disk/iid
.config/yandex-disk/passwd
.config/youtube-viewer/youtube-viewer.conf
.cortex
.cpan
.cpanm
.cr3
.crawl
.dbus
.drip
.drip_history
.dub
.eclipse
.electron
.elvish/
.esd_auth
.fasd
.fbless_save
.fonts/*
.forecastrc
.gdb_history
.gdrive
.gem
.ghc/ghci_history
.ghc/x86_64-linux-8.0.1/
.gimp-2.8
.git-credentials
.gnupg
.goobook*
.goobook_auth.json
.gpg-agent-info
.gradle
.gstreamer-0.10
.icons/LibreOffice Pack Icons-0.3.6
.imgur-screenshot.log
.imgur_pass.gpg
.irb_history*
.java
.java_history
.keychain
.lesshst
.lldb*
.lyrics/
.m2
.mime.types
.mozilla
.mutt/hcache/
.mutt_certificates
.my-pwds.gpg
.newsbeuter/cache.db
.newsbeuter/error.log
.newsbeuter/history.cmdline
.newsbeuter/newsbeuter-notify
.nicotine
.nimble
.node-gyp
.node_repl_history
.notion/default-session--0/windowinfos.lua
.notmuch-config
.npm
.nv
.ovftool.ssldb
.password-store
.pcsxr
.pdfedit
.pip
.pki
.python-eggs
.python_history
.pythonhist
.qt
.quarkcoin
.recently-used
.recoll
.rediscli_history
.renoise
.rustup/
.rvm
.sbcl_history
.sbt
.scala_history
.scalanative
.scdl.cfg
.spicec
.sqlite_history
.ssh
.stack
.steam
.steampath
.steampid
.subversion/
.surf
.swt
.t-engine
.task
.texlive
.tor-browser-en
.wget-hsts
.xsel.log
.xsession-errors
.xsession-errors.old
.yankring_hist_v2.txt
.zcalc_history
.zcompcache/
.zex_history
.zhistory
.zinit
.zsh/.zcompdump
.zsh/cache
.zsh_exnhist
.zsh_history
/home/neg/.config/gimp-2.8
/home/neg/.config/menus
/home/neg/.config/z
/home/neg/.gimp-2.8
/home/neg/.ideaconfig/config/options/statistics.application.usages.xml
__pycache__
beets/.config/beets/discogs_token.json
beets/.config/beets/state.pickle
blocklists
cache.db
cache.db.lock
cache_nvim
cache_vim
cgdb/.cgdb/logs/
cgdb/.cgdb/readline_history.txt
chromium
dev/.config/nvim/lua/packer_compiled.lua
dev/.config/nvim/sessions/
dev/.config/nvim/sessions/default.vim
dev/.config/pylint/
dht.dat
doc
dw
games
ghc/.ghc/ghci_history
gimp-2.8
gimp-2.8/pluginrc
gmail/client_secrets.json
gtk/.config/gtk-2.0/gtkfilechooser.ini
hcache
home.gmail/hcache
imgur-screenshot/
lazy-lock.json
mail/.config/vdirsyncer/calendars/
mail/.config/vdirsyncer/status/
mail/.config/vdirsyncer/token_stuff
misc/.slit/history
music/.config/beets/discogs_token.json
music/.config/beets/state.pickle
music/.config/mpd
music/.config/mpd/mpd.pid
music/.config/mpd/mpdstate
music/.config/ncmpcpp/error.log
music/.config/pulse/*-default-*
music/.config/pulse/cookie
mutt/.config/mutt/home.gmail/hcache
mutt/.mutt/hcache/*
mutt/.mutt/home.gmail/cache
mutt/.mutt/home.gmail/cache/
mutt/.mutt/home.gmail/hcache
mutt/.mutt/mailboxes
mutt/.mutt/work.gmail/cache
mutt/.mutt/work.gmail/cache/
mutt/.mutt/work.gmail/hcache
neg-dark.tdesktop-theme
negwm/.config/i3/
nvim/.config/nvim/nvim/.compiler_info
nvim/.config/nvim/nvim/.netrwhist
nvim/.config/nvim/nvim/plugged
nvim/.config/nvim/nvim/sessions
nvim/.config/nvim/nvim/undo
nvim/.config/nvim/plugged
nvim/.config/nvim/session.vim
nvim/.config/nvim/sessions
nvim/.config/nvim/undo
nvim/.vim/.netrwhist
nvim/.vim/plugged/
nvim/.vim/sessions/
nvim/.vim/undo/
ovmf
pack
packer/
password.gpg
pic
radare2/history
repos
resume
resurrect
session
src
st
state_nvim.vim
state_vim.vim
stats.json
surf
sys/.config/bpytop/error.log
sys/.config/icedtea-web/security/
sys/.config/tmux/plugin/
sys/.config/tmux/plugins/*
sys/.config/zsh/.zcompdump
tmp
torrent
torrents
vid
watch_later
zsh/.zsh/.zcompdump
zsh/.zsh/zcomp-sanctum
zsh_history
