./1st_level
.adom.*
.ammonite
.android
.aria2
.aspell*
.atom
.azureus
.bashbullet
.bash_history
beets/.config/beets/discogs_token.json
beets/.config/beets/state.pickle
.cabal
.cache
cache.db
cache.db.lock
cache_nvim
cache_vim
.cargo
.ccache
.ccls-cache
cgdb/.cgdb/logs/
cgdb/.cgdb/readline_history.txt
.cgdb/readline_history.txt
chromium
.Clion*
.config/asciinema
.config/aurvote
.config/chromium
.config/composer/
.config/configstore/
.config/dconf
.config/deluge
.config/easytag
.config/easytag/browser_path.history
.config/easytag/easytagrc
.config/EgoSoft
.config/Epic
.config/fasd
.config/fish
.config/fonts/*
.config/gconf
.config/.gmail_pass.gpg
.config/gpick
.config/gtk-2.0/gtkfilechooser.ini
.config/imgur-screenshot
.config/inkscape
.config/kritadisplayrc
.config/kritarc
.config/libreoffice/
.config/libvirt
.config/mimeapps.list
.config/mpdas/
.config/mpdscribble/*
.config/MusicBrainz
.config/pavucontrol.ini
.config/pulse/*
.config/ranger/bookmarks
.config/ranger/history
.config/Recoll.org
.config/scdl
.config/Skype/
.config/spotify/
.config/transmission-daemon/dht.dat
.config/Trolltech.conf
.config/vkopt
.config/vksetts*
.config/yandex-disk/iid
.config/yandex-disk/passwd
.config/youtube-viewer/youtube-viewer.conf
.cortex
.cpan
.cpanm
.cr3
.crawl
.dbus
dev/.config/nvim/lua/packer_compiled.lua
dev/.config/nvim/sessions/
dev/.config/nvim/sessions/default.vim
dev/.config/pylint/
doc
.drip
.drip_history
.dub
dw
.eclipse
.electron
.elvish/
.esd_auth
.fasd
.fbless_save
.FBReader/
.FontForge/
.fonts/*
.forecastrc
games
.gdb_history
.gdrive
.gem
ghc/.ghc/ghci_history
.ghc/ghci_history
.ghc/x86_64-linux-8.0.1/
.gimp-2.8
gimp-2.8
gimp-2.8/pluginrc
.git-credentials
gmail/client_secrets.json
.gnupg
.goobook*
.goobook_auth.json
.gpg-agent-info
.gradle
.gstreamer-0.10
gtk/.config/gtk-2.0/gtkfilechooser.ini
hcache
home.gmail/hcache
/home/neg/.config/gimp-2.8
/home/neg/.config/menus
/home/neg/.config/z
/home/neg/.gimp-2.8
/home/neg/.ideaconfig/config/options/statistics.application.usages.xml
.icons/LibreOffice Pack Icons-0.3.6
.imgur_pass.gpg
imgur-screenshot/
.imgur-screenshot.log
.irb_history*
.java
.java_history
.keychain
.lesshst
.lldb*
.lyrics/
.m2
.mime.types
misc/.slit/history
.mozilla
music/.config/beets/discogs_token.json
music/.config/beets/state.pickle
music/.config/mpd
music/.config/mpd/mpd.pid
music/.config/mpd/mpdstate
music/.config/ncmpcpp/error.log
../../music/.config/pulse/cookie
music/.config/pulse/cookie
../../music/.config/pulse/cookiegs
music/.config/pulse/*-default-*
.mutt_certificates
mutt/.config/mutt/home.gmail/hcache
.mutt/hcache/
mutt/.mutt/hcache/*
mutt/.mutt/home.gmail/cache
mutt/.mutt/home.gmail/cache/
mutt/.mutt/home.gmail/hcache
mutt/.mutt/mailboxes
mutt/.mutt/work.gmail/cache
mutt/.mutt/work.gmail/cache/
mutt/.mutt/work.gmail/hcache
.my-pwds.gpg
neg-dark.tdesktop-theme
negwm/.config/i3/
.newsbeuter/cache.db
.newsbeuter/error.log
.newsbeuter/history.cmdline
.newsbeuter/newsbeuter-notify
.nicotine
.nimble
.node-gyp
.node_repl_history
.notion/default-session--0/windowinfos.lua
.notmuch-config
.npm
.nv
nvim/.config/nvim/nvim/.compiler_info
nvim/.config/nvim/nvim/.netrwhist
nvim/.config/nvim/nvim/plugged
nvim/.config/nvim/nvim/sessions
nvim/.config/nvim/nvim/undo
nvim/.config/nvim/plugged
nvim/.config/nvim/sessions
nvim/.config/nvim/session.vim
nvim/.config/nvim/undo
nvim/.vim/.netrwhist
nvim/.vim/plugged/
nvim/.vim/sessions/
nvim/.vim/undo/
oni/.config/oni/tsconfig.json
.ovftool.ssldb
ovmf
pack
packer/
password.gpg
.password-store
.pcsxr
.pdfedit
pic
.pip
.pki
.python-eggs
.pythonhist
.python_history
.qt
.quarkcoin
radare2/history
.recently-used
.recoll
.rediscli_history
.renoise
repos
resurrect
.rustup/
.rvm
.sbcl_history
.sbt
.scala_history
.scalanative
.scdl.cfg
session
.Skype
.spicec
.sqlite_history
src
.ssh
st
.stack
state_nvim.vim
state_vim.vim
.steam
.steampath
.steampid
.subversion/
.surf
surf
.swt
sys/.config/bpytop/error.log
sys/.config/icedtea-web/security/
sys/.config/tmux/plugin/
sys/.config/tmux/plugins/*
sys/.config/zsh/.zcompdump
.task
.t-engine
.texlive
*.tmp
tmp
.tor-browser-en
torrent
vid
watch_later
.wget-hsts
.Xauthority
.xsel.log
.xsession-errors
.xsession-errors.old
.yankring_hist_v2.txt
.zcalc_history
.zcompcache/
.zex_history
.zhistory
.zinit
.zsh/cache
.zsh_exnhist
.zsh_history
zsh_history
.zsh/.zcompdump
zsh/.zsh/.zcompdump
zsh/.zsh/zcomp-sanctum
*.zwc
__pycache__
