[Unit]
Description=Calvin & Hobbes Wallpaper
After=xorg.target

[Service]
Type=simple
Environment=DISPLAY=:0
#RemainAfterExit=yes
ExecStart=/home/daniel/bin/chapod

[Install]
WantedBy=mystuff.target
