[Unit]
Description=dwm

[Service]
Environment=PATH=/home/daniel/.cabal/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/home/daniel/bin
ExecStart=/usr/bin/i3
#ExecStart=/home/daniel/github/dwm/dwm-6.0/dwm
Environment=DISPLAY=:0
Restart=on-failure

[Install]
WantedBy=wm.target
