[Unit]
Description=User resume actions
After=wm.target
Wants=conky.service

[Service]
Type=forking
PAMName=envoy
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock -c #000000

[Install]
WantedBy=lock.target
