[Unit]
Description=numlock
After=xorg.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/numlockx on
ExecStop=/usr/bin/numlockx off

[Install]
WantedBy=mystuff.target
