[Unit]
Description=Simple X hotkey daemon

[Service]
Environment=DISPLAY=:0
Environment=PATH=/home/daniel/.cabal/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/home/daniel/bin:/home/daniel/.local/share/panel
ExecStart=/home/daniel/bin/sxhkd

[Install]
WantedBy=mystuff.target
