
#
# X server target
#

# xorg.target is a virtual target - it becomes active as soon as Xorg
# is ready to accept incoming connections. If your service requires
# Xorg to be ready, include 'After=xorg.target' in your service file.

[Unit]
Description=The basic Xorg server

