#include </home/neg/.config/xres/xft_settings>
#include </home/neg/.config/xres/xcursor>
#include </home/neg/.config/xres/colors/current_colors>
#include </home/neg/.config/xres/xscreenserver>
#include </home/neg/.config/xres/xfontsel>
#include </home/neg/.config/xres/alsamixer>
#include </home/neg/.config/xres/emacs>
#include </home/neg/.config/xres/xrenoise>
#include </home/neg/.config/xres/xterm>
#include </home/neg/.config/xres/yeahconsole>
#include </home/neg/.config/xres/xmessage>
#include </home/neg/.config/xres/ratmenu>
#include </home/neg/.config/xres/mpd-pad>
#include </home/neg/.config/xres/xv>
#include </home/neg/.config/xres/fonts>
#include </home/neg/.config/xres/colors/wim.Xresources>
#include </home/neg/.config/xres/colors/solarized>
#include </home/neg/.config/xres/rofi/rofi.Xresources>
#include </home/neg/.config/xres/st_colors>
