@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

*|*.textbox-input:-moz-placeholder { color:transparent !important; }
*|*.textbox-input:-moz-placeholder:hover { color:transparent !important; }

/*tabs*/
#TabsToolbar { 
        background: #444 !important; 
}

.tabbrowser-tab[selected="true"] { 
        background: #222 !important; 
        font-family: "Verdana" !important; 
        font-size: 10px !important; 
        color: white !important; 
        font-weight: normal !important; 
        border: none !important;
        border-radius: 0 !important;
        padding-left: 5px !important; 
        padding-right: 5px !important; 
}

.tabbrowser-tab:not([selected="true"]) { 
        background: #444 !important; 
        font-family: "Verdana" !important; 
        font-size: 8px !important; 
        color: white !important; 
        font-weight: normal !important; 
        border: none !important;
        border-radius: 0 !important;
        padding-left: 5px !important; 
        padding-right: 5px !important;
        
}

.tab-close-button {
        display: none !important;
}

.tabs-newtab-button {
        display: none !important;
        border: none !important;
        margin: 0 !important;
}


* {
    font-family: "DejaVu Sans";
}
