@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("vk.com") {
body 
{
 background: #eaebec top center !important;
 font-family: sans-serif !important
}
#rate{
  display: none !important;
}
#pageLayout
{
  width:66% !important;
}
#sideBar
{
  float:left !important;

  margin:1% 0% 0% 2% !important;
  width:15% !important;
}
#pageHeader 
{
  Background: url(http://funkyimg.com/u2/738/249/4BEb4f7Y9T.png) no-repeat !important;
  width:100% !important;
}

DIV, Select, TD, TEXTAREA, SPAN.ncc, Input, A, #quickquery, B,#endQuote, #startQuote, .actionspro, LI.written, TH, UL.pageList, .actionspro, ul.topNav li, #userProfile, #profileActions, .nc *,.groupslist table,

#td.info 
{
  background: transparent none !important
}
#rateLeft, .voting_result_fg 
{
  border: 1px solid black !important
}

#rateGold 
{
  background: #cccccc !important; 
  border: 1px solid black !important
}
option, #boxWrap 
{
  background: white !important
}
a, h1, h2, #dialog h4, .note strong, h4, .info dt, #header, h3, h5, h6 
{
  color: black !important
}
.mailbox table tr.newRow 
{
  background: #cccccc !important; 
}
#selector 
{
  background: black !important;border: 1px solid black !important 
}
#nameInner, #tagframe2 
{ 
  background-color: white !important;
}
.hm 
{
  background-color: black !important; border: 1px solid black !important 
}
#tagframe2inside3 {
  background-color: black !important; 
}
#tagname 
{
  background: white !important;
  border: 1px solid black !important;}
  .taghandle { background-color: black !important; 
}
#nav li a 
{
  color: black !important; 
}
#myLink, td, small, caption, span, p, b, LI, Div, input, select, option, dd, label, .settingsPanel h4, TextArea 
{
  color: #3b3b3b !important; 
}
#nav li a, .nc *, LI, p, B, #profileActions a, .pageList a, div
{
  border-color: transparent !important;
}
#quickquery, div.actions, #myLink, #content, TextArea,Div.playline, TD, Input, select, TH, H4, H2, #photoactions a, #photoactions .action_link, #photoactions .non_action, .bNav li a, ul.buttonRow a, .header, .flexHeader, #wrapH
{
  border-color: black !important; 
}
#wrapH 
{
  border-bottom: 1px solid black !important
}
#nav li a, .nc *, LI, p, B, #profileActions a, .pageList a, div
{
  border-color:transparent !important;
}
.notes_titles li.app 
{
  background: transparent none !important
}
.rateTabOff a:hover, .rateTabOn a:hover, .rateTabOff a, .rateTabOn a
{
  background-color:white !important; text-decoration:none !important;
}
.FGYellow,.FGGreen,.FGRed,.FGOrange,.FGBlue,.FGMarine,.FGPurple,.FGTeal,.FGWhite 
{
  border: 1px solid black !important;
  background-color: white !important;
}
.FGYellowOn,.FGGreenOn,.FGRedOn,.FGOrangeOn,.FGBlueOn,.FGMarineOn,.FGPurpleOn,.FGTealOn,.FGWhiteOn 
{
  background-color:white !important;
}
html textarea {
background:#4d4c40 !important;
border: 1px solid #5c5a46 !important;
border-top-color: #474531 !important;
border-bottom-color: #7a7967 !important;
}

html input[type=button], 
html input[type=submit], 
html input[type=reset], 
html input[type=image], 
html button {
  border-top-color: #7a7967 !important;
  border-bottom-color: #474531 !important;	
  }

html input:focus, 
html select:focus,
html option:focus,
html button:focus,
html textarea:focus {
  background:#5c5b3e !important;
  color:#fff !important;
  border-color: #474100 #665d00 #7a7849 !important;
  /*border-top-color: #5c5400 !important;*/
  outline: 2px solid #041d29 !important;
  }

html input[type=button]:focus, 
html input[type=submit]:focus, 
html input[type=reset]:focus, 
html input[type=image]:focus, 
html button:focus {
  border-color: #7a7849 #665d00 #474100 !important;
  }	

html input[type=radio] {
  background:none !important;
  border-color:#333 !important;
  border-width:0 !important;
  }


html, 
html body {
  scrollbar-base-color: #4d4c40 !important;
  scrollbar-face-color: #5c5b3e !important;
  scrollbar-shadow-color: #5c5b3e !important;
  scrollbar-highlight-color: #5c5b3e !important;
  scrollbar-dlight-color: #5c5b3e !important;
  scrollbar-darkshadow-color: #474531 !important;
  scrollbar-track-color: #4d4c40 !important;
  scrollbar-arrow-color: #000 !important;
  scrollbar-3dlight-color: #7a7967 !important;
  }

/* Link shadows */
/*
@media screen and (min-width: 128px) {
  html a:hover,
  html a:hover * {
    background-color: #333 !important; 
    text-shadow: 0 0 1em #023 !important; 
    }
}
*/

/* Webkit */
@media all and (-webkit-min-device-pixel-ratio:0) {	
  html body * {
    -webkit-transition: color 1s ease-in, background-color 2s ease-out !important;
    }
  html a,
  html textarea,
  html input,
  html select {
    -webkit-transition: color .4s ease-in, background-color .4s ease-out !important;
    }
  html img[src],
  html input[type=image] {	
    -webkit-transition: opacity .4s ease-in !important;
    }
  html input:focus, 
  html select:focus,
  html option:focus,
  html button:focus,
  html textarea:focus {
    outline-style: outset !important;
  }
}

/* Something ugly */
/*
html textarea, 
html select, 
html input {
  scrollbar-base-color: #4d4c40 !important;
  scrollbar-face-color: #4d4c40 !important;
  scrollbar-shadow-color: #4d4c40 !important;
  scrollbar-highlight-color: #474531 !important;
  scrollbar-dlight-color: #7a7967 !important;
  scrollbar-darkshadow-color: #7a7967 !important;
  scrollbar-track-color: #4d4c40 !important;
  scrollbar-arrow-color: #000 !important;
  scrollbar-3dlight-color: #5c5a46 !important;
  }
