[color]
ac = #d26273
mgf = "#aa020209"
mf = #fdd835
background = "#00020209"
foreground = "#CFCFDB"
border = "#33005f87"
border_nontransparent = "#de003D57"
green = "#287373"
blue = "#395573"
delimiter = "#005f87"

[border]
t = 2
b = 2
l = 2
r = 2

[font]
font-0 = Iosevka:style=Medium:size=30;6
font-1 = Iosevka:style=Bold:size=36;7
font-2 = Iosevka:style=Bold:size=32;7
font-3 = FiraCode Nerd Font Mono:size=36;7
; vim: set ft=dosini:
