[Desktop Entry]
Type=Application
Name=GNOME XSettings
Exec=/usr/lib/gsd-xsettings
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-Phase=Initialization
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
X-GNOME-HiddenUnderSystemd=true
