[Unit]
Description=Startpage with caddy

[Service]
Type=simple
Restart=always
ExecStart=/usr/sbin/caddy -conf %h/.config/startpage/server/Caddyfile

[Install]
WantedBy=default.target
