[Unit]
Description=Compositing manager
After=dbus.service

[Service]
Type=forking
ExecStartPre=/bin/sleep 4
ExecStart=%h/.config/xinit/compositing.zsh

[Install]
WantedBy=default.target
