[Unit]
Description=Compositing manager
After=dbus.service

[Service]
Type=simple
ExecStartPre=/bin/sleep 2
ExecStart=%h/.config/xinit/compositing.zsh

[Install]
WantedBy=default.target
