[Unit]
Description=cursor swarp
After=dbus.service

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/swarp 9000 9000

[Install]
WantedBy=default.target
