[Unit]
Description=Downloads cleaner and handler
After=dbus.service

[Service]
Type=simple
Restart=on-failure
ExecStart=%h/bin/scripts/dw cleaner

[Install]
WantedBy=default.target
