[Unit]
Description=Lightweight and customizable notification daemon
After=dbus.service

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStartPre=/bin/mkdir -p %h/tmp/dunst-images
ExecStart=/usr/sbin/dunst
ExecReload=/bin/rm -fr %h/tmp/dunst-images
ExecStop=/bin/rm -fr %h/tmp/dunst-images

[Install]
WantedBy=default.target
