[Unit]
Description=My email notification script
After=sockets.target

[Service]
Type=simple
Restart=always
Environment=DISPLAY=:0
ExecStart=/usr/bin/python /home/neg/bin/scripts/email_notifier.py

[Install]
WantedBy=default.target
