[Unit]
Description=Gnome keyring daemon
After=dbus.service

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh -f

[Install]
WantedBy=default.target
