[Unit]
Description=GPaste daemon
After=dbus.service

[Service]
Type=simple
Restart=on-failure
RestartSec=10
ExecStart=/usr/sbin/gpaste-client daemon

[Install]
WantedBy=default.target
