[Unit]
Description=Ingenious and fast way to move the mouse pointer on the screen with keystrokes
After=picom.service

[Service]
Type=simple
Restart=on-failure
RestartSec=10
ExecStart=/usr/bin/keynav "loadconfig ~/.config/keynav/keynavrc"

[Install]
WantedBy=default.target
