[Unit]
Description=Log info runner
After=sockets.target

[Service]
Type=simple
Restart=never
Environment=DISPLAY=:0
ExecStart=%h/bin/scripts/log_runner

[Install]
WantedBy=default.target
