[Unit]
Description=Log info runner
After=dbus.service

[Service]
Type=simple
Restart=never
ExecStart=%h/bin/scripts/log_runner

[Install]
WantedBy=default.target
