[Unit]
Description=Music Player Daemon
After=network.target sound.target pulseaudio.socket

[Service]
ExecStart=/usr/bin/mpd --no-daemon /home/neg/.mpd.conf
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
