[Unit]
Description=Music Player Daemon
After=network.target sound.target

[Service]
ExecStart=/usr/bin/mpd --no-daemon %h/.mpd.conf
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
