[Unit]
Description=mpdas last.fm scrobbler
After=network.target sound.target mpd.service

[Service]
ExecStart=/usr/sbin/mpdas -c %h/.config/mpdas/neg.rc
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
