[Unit]
Description=Network manager applet
After=dbus.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/sbin/nm-applet

[Install]
WantedBy=default.target
