[Unit]
Description=OfflineIMAP Service
After=network.target

[Service]
Type=idle
ExecStart=/usr/bin/offlineimap -l /dev/null
KillSignal=SIGUSR2
Restart=always
RestartSec=5
StandardOutput=null
StandardError=null

[Install]
WantedBy=default.target
