[Unit]
Description=Compositing manager
After=dbus.service

[Service]
Type=simple
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/picom --experimental-backends --backend glx

[Install]
WantedBy=default.target
