[Unit]
Description=Sxkhd for hotkeys
After=dbus.service

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStartPre=/usr/bin/rm -f /tmp/sxhkd_fifo
ExecStartPre=/usr/bin/mkfifo /tmp/sxhkd_fifo
ExecStart=/usr/sbin/sxhkd -s /tmp/sxhkd_fifo

[Install]
WantedBy=default.target
