[Unit]
Description=hotkey manager
After=dbus.service

[Service]
Type=simple
Restart=on-failure
RestartSec=2
Environment="SXHKD_SHELL=dash"
ExecStart=/usr/bin/sxhkd

[Install]
WantedBy=default.target

