[Unit]
Description=Setup wallpaper on startup
After=compton.service

[Service]
Type=forking
ExecStart=%h/bin/wl -r

[Install]
WantedBy=default.target
