[Unit]
Description=X11 Settings service
After=dbus.service

[Service]
Type=simple
Restart=on-failure
RestartSec=5
ExecStart=%h/.config/xinit/start_xinit.zsh

[Install]
WantedBy=default.target
