[Unit]
Description=Xsettings daemon
After=dbus.service

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/sbin/xsettingsd

[Install]
WantedBy=default.target
