:root {
    --base00: #020202;
    --base01: #8A2F58;
    --base02: #287373;
    --base03: #914E89;
    --base04: #395573;
    --base05: #5E468C;
    --base06: #2B7694;
    --base07: #899CA1;
    --base08: #3D3D3D;
    --base09: #CF4F88;
    --base0A: #53A6A6;
    --base0B: #BF85CC;
    --base0C: #4779B3;
    --base0D: #7F62B3;
    --base0E: #47959E;
    --base0F: #617287;
    --foreground: #DEDEDE;

    --tridactyl-fg: var(--foreground);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0B);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: #89CDD2 !important;
    --tridactyl-hintspan-bg: #001742 !important;
    --tridactyl-hintspan-font-family: "Iosevka" !important;
    --tridactyl-hintspan-font-size: 10pt !important;
    --tridactyl-hintspan-font-weight: Medium !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: var(--foreground);
    --tridactyl-hint-active-bg: var(--tridactyl-hintspan-bg);
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}

#command-line-holder {    
    order: 1;
    border: 1px solid #0a3749;
    color: var(--tridactyl-bg);
}

#tridactyl-input {    
    color: var(--tridactyl-fg);
    background: var(--tridactyl-bg);
    padding-left: unset;
    font-family: "Iosevka";
    font-weight: Medium;
    font-size: 14pt;
}

#completions {    
    --option-height: 1.5em;
    color: var(--tridactyl-fg);
    background: var(--tridactyl-bg);
    display: inline-block;
    overflow: hidden;
    width: 100%;

    font-family: "Iosevka";
    font-weight: Medium;
    font-size: 14pt;
}

#completions > div {    
    max-height: calc(20 * var(--option-height));
    min-height: calc(2 * var(--option-height));
}

#completions table {    
    padding: unset;
    padding-top: unset;
    padding-bottom: unset;
    font-family: "Iosevka";
    font-weight: Medium;
    font-size: 14pt;
}

#completions .HistoryCompletionSource {    
    max-height: unset;
    min-height: unset;
}

#completions .HistoryCompletionSource table {    
    width: 100%;
    font-size: 14pt;
    border-spacing: 0;
    table-layout: fixed;
}

/* redundancy 2: redundancy 2: more redundancy */
#completions .BmarkCompletionSource {    
    max-height: unset;
    min-height: unset;
}

#completions .BufferCompletionSource table {    
    width: unset;
    font-size: unset;
    border-spacing: unset;
    table-layout: unset;
}

#completions table tr .title {    
    width: 50%;
}

#completions table tr {    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#completions .sectionHeader {    
    background: unset;
    border-bottom: unset;
    padding-left: unset;
}

.TridactylStatusIndicator {    
    position: fixed !important;
    bottom: 0 !important;
    background: var(--tridactyl-bg) !important;
    border: unset !important;
    border: 1px var(--base0B) solid !important;
    font-size: 10px !important;
    padding: 0.4ex !important;
}

#completions .focused {    
    background: #184050;
    color: var(--foreground);
}

#completions .focused .url {    
    background: #184050;
    color: var(--foreground);
}

/* taken from hint css */
span.TridactylHint {
    position: absolute !important;
    font-family: var(--tridactyl-hintspan-font-family) !important;
    font-size: var(--tridactyl-hintspan-font-size) !important;
    font-weight: var(--tridactyl-hintspan-font-weight) !important;
    color: var(--tridactyl-hintspan-fg) !important;
    background-color: var(--tridactyl-hintspan-bg) !important;
    border-width: var(--tridactyl-hintspan-border-width) !important;
    min-width: 0.75em !important;
    border-style: var(--tridactyl-hintspan-border-style) !important;
    padding: 2pt !important;
    z-index: 2147483646 !important;

    border-radius: 4px!important;
}
