##############
#  Helpers
##############

snippet /* "commentary" b
<!-- ${1} -->
endsnippet

snippet /** "commentary block" b
<!-- ****************** -->
<!--     ${1}           -->
<!-- ****************** -->
endsnippet

snippet link:css "link to a css file" b
<link rel="stylesheet" href="${1}" />
endsnippet

snippet table "table with caption" b
<table>
	<caption>${1}</caption>
	<tr>
		<th>${2}</th>
	</tr>
	<tr>
		<td>${3}</td>
	</tr>
</table>
endsnippet

snippet table+ "table with head, body, foot & caption" b
<table>
	<caption>${1}</caption>

	<thead>
		<tr>
			<th>${2}</th>
		</tr>
	</thead>
	
	<tfoot>
		<tr>
			<th>$2</th>
		</tr>
	</tfoot>

	<tbody>
		<tr>
			<td>${3}</td>
		</tr>
	</tbody>
</table>
endsnippet

snippet imgl "image from lorempixel"
<img src="http://lorempixel.com/${1:width}/${2:height}/${3:type}" />
endsnippet

snippet imgl2 "image from lorempicsum>"
<img src="http://lorempicsum.com/${1:cartoon}/${2:width}/${3:height}/${4:index}" />
endsnippet
