[module/decor-glyph]
type = custom/text
content-background = ${color.background}
content-foreground = ${color.mgf}

[module/start]
type = custom/text
content = "%{T3}%{F-}%{T-}"
content-background = ${color.mgf}
content-foreground = "${color.dark}"

[module/end]
type = custom/text
content = "%{T3}%{T-}"
content-background = ${color.mgf}
content-foreground = "${color.dark}"

[module/start-dark]
type = custom/text
content = "%{T3}%{F#005f87}╱%{F-}%{T-}"
content-background = ${color.mgf}

[module/start-br]
type = custom/text
content = "%{T3}%{F#005f87}╱%{F-}%{T-}"
content-background = ${color.mgf}

[module/left-end-top]
inherit = module/decor-glyph
content = "%{T2}%{T-}"

[module/right-end-top]
inherit = module/decor-glyph
content = "%{T2}%{T-}%{O0}"

[module/right]
inherit = module/decor-glyph
content = "%{T2}%{T-}%{O0}%{T2}%{T-}"

[module/left-end-bottom]
inherit = module/decor-glyph
content = "%{T2}%{T-}"

[module/right-end-bottom]
inherit = module/decor-glyph
content = "%{T2}%{T-}%"
; vim:ft=dosini:
