snippet -- "variable declaration" b
--${1}: ${2};
endsnippet

snippet var "variable insertion" w
var(--${1}${2:, ${3}});
endsnippet

snippet @k "@keyframes" b
@keyframes name {
	${1:from} {
		${2}
	}

	${3:to} {
		${4}
	}
}
endsnippet

snippet @m "@media" b
@media ${1:screen} and (${2}) {
	${3}
}
endsnippet

##############
#  Helpers
##############

snippet /* "commentary" b
/* ${1} */
endsnippet

snippet /** "commentary block" b
/* *************** */
/*	${1}
/* *************** */
endsnippet
