snippet date "date year-month-day" w
`date +%Y-%m-%d`
endsnippet

snippet mail "e-mail address" w
amine.kabb@gmail.com
endsnippet

snippet repo "github repo" w
https://github.com/KabbAmine/
endsnippet

snippet lorem "50 words of lorem ipsum" w
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
endsnippet
