@-moz-document regexp(".+\.txt") {

	html {

		font-family: sans-serif !important;

		font-size: 110% !important;

		background-color: #002b36 !important;

		color: #839496 !important

	}

	pre {

		font-family: inherit !important

	}

}
