discord:
  classw: [discord]
  geom: 1880x950+1734+550
  binds:
    toggle: [Mod4+v]
  prog: discord

im:
  classw: [KotatogramDesktop, vkteams, Skype, Slack, TelegramDesktop, zoom]
  geom: 1168x1406+2271+1
  binds:
    toggle: [Mod4+e]
  prog: telegram-desktop
  tel:
    classw: [TelegramDesktop]
    binds:
      mod-e:
        subtag: [t]
    prog: telegram-desktop

ncmpcpp:
  classw: [ncmpcpp]
  geom: 2016x552+674+803
  binds:
    toggle: [Mod4+f]
  prog: ~/bin/executor run ncmpcpp

neomutt:
  classw: [mutterfox]
  exec: neomutt
  geom: 3440x1397+0+0
  instance: [mutterfox, neomutt]
  binds:
    toggle: [Mod4+n]

mixer:
  geom: 1612x590+1828+804
  instance: [ncpamixer]
  binds:
    toggle: [Mod4+Ctrl+p]
  prog: ~/bin/executor run ncpamixer

teardrop:
  geom: 3440x866+0+0
  instance: [teardrop]
  binds:
    toggle: [Mod4+d]
  prog: ~/bin/executor run teardrop

torrment:
  geom: 3440x866+0+0
  instance: [torrment]
  binds:
    toggle: [Mod4+t]
  prog: ~/bin/executor run torrment

transients:
  geom: 1897x765+685+621
  instance: [Places]
  binds:
    mod-e:
      toggle: [a]
  role: [GtkFileChooserDialog, gimp-file-open]

configured_internally: true

# vim:filetype=yaml
