[Unit]
Description=Music track notification with cover
After=network.target sound.target playerctld.service mpd.service mpDris2.service
BindsTo=mpDris2.service

[Service]
ExecStart=%h/bin/track-notification-daemon
StartLimitIntervalSec=0
Restart=always
RestartSec=3
StartLimitIntervalSec=0

[Install]
WantedBy=default.target
