[Unit]
Description=i3 session
BindsTo=graphical-session.target

Wants=xsettingsd.service
Wants=dpms-off.service
Wants=kdb-conf.service
Wants=negwm.service
Wants=picom.service
Wants=polybar.service
Wants=ssh-agent.service
Wants=wallpaper.service
Wants=xiccd.service
Wants=xss-lock.service
Wants=negwm-autostart.service
Wants=dex.service
