[Unit]
Description=my xinput settings
After=dbus.service

[Service]
Type=forking
ExecStartPre=/bin/sleep 6
ExecStart=%h/.config/xinit/kbd-conf

[Install]
WantedBy=default.target
