[Unit]
Description=my xinput settings
Requires=x11.service
OnFailure=notify@%i.service

[Service]
Type=oneshot
ExecStart=%E/xinit/kbd-conf
Restart=on-failure
StartLimitBurst=10
