[Unit]
Description=Music track notification with cover
After=network.target sound.target

[Service]
Type=simple
ExecStart=%h/bin/track-notification-daemon.py

[Install]
WantedBy=default.target
