[Unit]
Description=Negi3WM Window Manager mod for i3wm
PartOf=graphical-session.target
StartLimitBurst=5
StartLimitIntervalSec=1

[Service]
Type=simple
ExecStart=/usr/bin/env dash %E/negi3wm/bin/run
Restart=on-failure
