[Unit]
Description=Startup stuff depended on negwm
After=negwm.service

[Service]
ExecStart=/bin/dash -c "echo 'circle next term' | /usr/bin/nc localhost 15555 -w 0"
Restart=on-failure
