[Unit]
Description=negwm window manager mod for i3wm
PartOf=graphical-session.target
StartLimitBurst=5
StartLimitIntervalSec=0
Requires=xsettingsd.service

[Service]
ExecStart=%h/bin/negwm
Restart=on-failure
