[Unit]
Description=Send systemd notification for failure

[Service]
Type=oneshot
ExecStart=/usr/bin/dunstify systemd-failed %i

[Install]
WantedBy=multi-user.target
