[Unit]
Description=OpenRGB Configuration utility for RGB lights supporting motherboards, RAM, & peripherals
After=dbus.socket
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/openrgb --server -p neg.orp
RestartSec=30
StartLimitBurst=8

[Install]
WantedBy=default.target
