[Unit]
Description=Compositing manager
After=dbus.socket
PartOf=graphical-session.target
StartLimitIntervalSec=60
Requires=x11.service
OnFailure=notify@%i.service

[Service]
ExecStart=/usr/bin/picom --dbus --backend glx
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID
Restart=on-failure
RestartSec=1
StartLimitBurst=3000
StartLimitIntervalSec=0
