[Unit]
Description=Compositing manager
After=dbus.service

[Service]
Type=simple
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/picom --dbus --experimental-backends --backend xrender

[Install]
WantedBy=default.target
