[Unit]
Description=Compositing manager
After=dbus.socket
PartOf=graphical-session.target
# Don't try to restart after 60 seconds
StartLimitIntervalSec=60

[Service]
ExecStart=/usr/bin/picom --dbus --experimental-backends --backend glx
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID
# Try to restart no matter how the process ended
Restart=always
# Restart in 5 second intervals
RestartSec=5
# Try to restart up to 3 times
StartLimitBurst=3
