[Unit]
Description=Pic dirs notification
After=sockets.target

[Service]
Type=simple
Restart=always
ExecStart=/home/neg/bin/scripts/pic-dirs-list

[Install]
WantedBy=default.target
