[Unit]
Description=Pic dirs notification
After=sockets.target

[Service]
Type=simple
ExecStart=/bin/dash -c '%h/bin/pic-dirs-list'
PassEnvironment=XDG_PICTURES_DIR XDG_DATA_HOME
Restart=on-failure
RestartSec=1

[Install]
WantedBy=default.target
