[Unit]
Description=Keep track of media player activity

[Service]
Type=oneshot
ExecStart=/usr/bin/playerctld daemon
LogNamespace=negwm

[Install]
WantedBy=default.target
