[Unit]
Description=Keep track of media player activity
After=network.target sound.target

[Service]
Type=oneshot
ExecStart=/usr/bin/playerctld daemon
RestartSec=3
StartLimitBurst=30

[Install]
WantedBy=default.target
