[Unit]
Description=Keep track of media player activity
After=network.target sound.target
BindsTo=mpd.service

[Service]
Type=forking
ExecStart=/usr/bin/playerctld daemon
RestartSec=3
StartLimitBurst=30

[Install]
WantedBy=default.target
