[Unit]
Description=Polybar statusbar
PartOf=graphical-session.target
StartLimitIntervalSec=60

[Service]
ExecStart=/usr/bin/polybar -q main
ExecStop=/usr/bin/polybar-msg cmd quit
Restart=on-failure
RestartSec=3
StartLimitBurst=30
