[Unit]
Description=GNOME Keyring Daemon
IgnoreOnIsolate=true
OnFailure=notify@%i.service

[Service]
Type=dbus
EnvironmentFile=-/etc/locale.conf
Environment=DISPLAY=:0
BusName=org.gnome.keyring
BusName=org.freedesktop.secrets
ExecStart=/usr/bin/gnome-keyring-daemon --start -f --control-directory=%t/keyring
