[Unit]
Description=Start tmux in detached session
After=sockets.target

[Service]
Type=simple
ExecStart=/usr/bin/tmux -S /home/neg/.config/negwm/cache/tmux_sockets/term.socket new-session -s term -d
ExecStop=/usr/bin/tmux -S /home/neg/.config/negwm/cache/tmux_sockets/term.socket kill-session -t term
RemainAfterExit=yes

[Install]
WantedBy=default.target
