[Unit]
Description=Start tmux in detached session
After=sockets.target
OnFailure=notify@%i.service

[Service]
ExecStart=/usr/bin/tmux -S %h/.cache/negwm/tmux_sockets/term.socket new-session -s term -d
ExecStop=/usr/bin/tmux -S %h/.cache/negwm/tmux_sockets/term.socket kill-session -t term
RemainAfterExit=yes

[Install]
WantedBy=default.target
