[Unit]
Description=transmission service
After=network.target
ConditionPathExists=/usr/bin/transmission-daemon

[Service]
Type=notify
ExecStart=/usr/bin/transmission-daemon -g %E/transmission-daemon -f --log-level=error
Restart=on-failure
RestartSec=30
StartLimitBurst=8
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=default.target
