[Unit]
Description=handle automounting
After=dbus.service
OnFailure=notify@%i.service

[Service]
ExecStart=/usr/bin/udiskie
Restart=always
Restart=always
RestartSec=2
StartLimitBurst=8

[Install]
WantedBy=default.target
