[Unit]
Description=handle automounting
After=dbus.service

[Service]
Type=simple
Restart=always
RestartSec=2
ExecStart=/usr/bin/udiskie
Restart=always

[Install]
WantedBy=default.target
