[Unit]
Description=Vdirsyncer synchronization service
OnFailure=notify@%i.service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/vdirsyncer metasync
ExecStart=/usr/bin/vdirsyncer sync
