[Unit]
Description=Setup wallpaper on startup
After=xorg.service

[Service]
Type=forking
ExecStart=%h/bin/wl -r
Restart=on-failure

[Install]
WantedBy=default.target
