[Unit]
Description=Setup wallpaper on startup
After=xinit.service
PartOf=graphical-session.target

[Service]
Type=forking
ExecStart=%h/bin/wl -r
ExecStartPre=/bin/sleep 6
Restart=on-failure

[Install]
WantedBy=default.target
