[Unit]
Description=Xorg
Documentation=man:Xorg(1)
Requires=x11.socket
After=x11.socket
Before=x11.target
OnFailure=notify@%i.service

[Service]
Environment=XDG_SESSION_TYPE=x11
Environment="XSERVERRC=%E/xinit/xserverrc"
ExecStartPre=/usr/bin/dbus-update-activation-environment --all
ExecStart=/usr/bin/xinit /usr/bin/i3 -- :0 -nolisten tcp vt1
SuccessExitStatus=0 1

[Install]
Also=x11.socket x11.target
WantedBy=default.target
