[Unit]
Description=X color management
PartOf=graphical-session.target
Requires=x11.service

[Service]
ExecStart=/usr/bin/xiccd --edid
Restart=on-failure
