[Unit]
Description=startx as service

[Service]
Environment="XINITRC=%h/.config/xinit/xinitrc"
Environment="XSERVERRC=%h/.config/xinit/xserverrc"
ExecStart=/usr/bin/xinit -- :1 -nolisten tcp vt1
Restart=on-abort

[Install]
WantedBy=default.target
