[Unit]
Description=startx as service

[Service]
Environment="XINITRC=%h/.config/xinit/xinitrc"
Environment="XSERVERRC=%h/.config/xinit/xserverrc"
ExecStart=%h/bin/runx
Restart=on-abort

[Install]
WantedBy=default.target
