[Unit]
Description=Xorg
Documentation=man:Xorg(1)
Requires=x11.socket
After=x11.socket
Before=x11.target

[Service]
Environment="XINITRC=%h/.config/xinit/xinitrc"
Environment="XSERVERRC=%h/.config/xinit/xserverrc"
ExecStart=/usr/bin/xinit -- :1 -nolisten tcp vt1
SuccessExitStatus=0 1

[Install]
Alias=x11.service
Also=x11.socket x11.target
WantedBy=default.target
