[Unit]
Description=Merge xresources with xrdb
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/xrdb -merge "$XDG_CONFIG_HOME/X11/xresources"
