[Unit]
Description=XSETTINGS daemon
PartOf=graphical-session.target
After=x11.service
Requires=x11.service

[Service]
Restart=on-failure
ExecStart=%h/bin/xsettingsd-setup
ExecReload=/usr/bin/i3-msg reload
ExecReload=/bin/systemctl --user try-restart polybar.service
ExecReload=/bin/systemctl --user try-reload-or-restart picom.service
