body,html {min-height: 100%!important; }
*{font-family: "verdana", "Courier New", "Courier", monospace !important;}
html, body{background-color:#051005!important}
body>*:not(:empty){background-color:#031003!important}
body>*>*:not(:empty){background-color:#031003!important}
body>*>*>*:not(:empty){background-color:#081808!important}
body>*>*>*>*:not(:empty){background-color:#081808!important}
body>*>*>*>*>*:not(:empty){background-color:#182818!important}
body>*>*>*>*>* *{background-color:#182818!important}
body table[border="0"] td{background-color:#051005!important}
body table table[border="0"] td{background-color:#182818!important}
body table table table[border="0"] td{background-color:#031003!important}
body table table table table[border="0"] td{background-color:#154515!important}
body *:empty{background-color: #152515!important}

body p:not(:empty), body p *, body h1, body h1 *, body h2, body h2 *, body h3, body h3 *, body h4, body h4 *, body h5, body h5 *, body strong>*, body b>*, body em>*, body i>*,  body span>*:not(img){background:transparent none!important}
body h1, body h1 *, body h2, body h2 *, p>strong:only-of-type,  p>b:only-of-type{color: #a98!important}
body h3, body h3 *, body h4, body h4 *{color: #607866!important}

*:not([onclick]):not(input):not(a):not(img):not([class^="UI"]), body a:not(:empty), div:not([onclick]){background-image:none!important; text-indent:0!important}
*[onclick] {color:#87B097!important}
*[onclick]:hover {color:#87d097!important}
body hr{background: #77A077 none!important; color: #77A077!important; border:1px solid #77A077!important; height: 1px!important; overflow:hidden!important; display: block!important}
* {color: #87AF87!important; border-color:#77A077!important;}
* body a, body a *{color: #87C097!important;}
body a:hover, body a:hover *{color: #87C599!important; text-decoration: underline!important}
body img,a[href] img, a[href] button, input[type="image"],*[onclick]:empty, body a:empty{opacity:.5!important}
body img:hover,a[href]:hover img, a[href]:hover button, *[onclick]:empty:hover, body a:empty:hover{opacity:1!important}



body input[type], body textarea[name], body input[name], body input[id], body select[name]{-moz-appearance:none!important; color: #87AF87!important; -moz-border-radius:4px !important; border-width: 1px!important; border-color: #77A077!important;border-style:solid!important; background:#355535 none  !important}

body select[name]{-moz-appearance:none!important; color: #87AF87!important; -moz-border-radius:4px !important; border-width: 1px!important; border-color: #77A077!important;border-style:solid!important; background-color:#355535!important}

body input>*, body textarea>*{background:transparent none  !important; color: #87AF87!important; border-style:solid!important; border-width: 0px!important;}
body select *{background-color:transparent !important; color: #87AF87!important; border-style:solid!important; border-width: 0px!important;}



pre:not(:empty), code:not(:empty) , cite:not(:empty), pre:not(:empty) *, code:not(:empty) *, cite:not(:empty) *{background-image:url(data:image/gif;base64,R0lGODlhBAAEAIAAABERESIiIiH5BAAAAAAALAAAAAAEAAQAAAIGTACXaHkFADs=)!important; color: #4A644C!important;}

span.__conkeror_hint{ 
font-size: 14px !important;
line-height: 14px !important;
background-color: #183B1B !important;
color: #87E097 !important;
}

input, input[type="password"], input[type="checkbox"], input[type=radio], select  {
  background: black !important;
  color: #87C097 !important;
  
   font-weight: normal !important;	
    border-top: 1px solid #77A077 !important;
    border-bottom: 1px solid #77A077 !important;
    border-left: 1px solid #77A077 !important;
    border-right: 1px solid #77A077 !important;
  }
